/* Reset and Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #c89006;
    --secondary-color: #6c757d;
    --background-color: #f8f9fa;
    --text-color: #292929;
    --link-color: #007bff;
}

.container-size {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* start of sigh up flow styling here */
.openAccount-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
}

.progress-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
   
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
    border-radius: 25px;
}

.progress-steps li {
    width: 150px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
        align-items: center;
}